{% extends 'index.html' %}
{% block home %}
    <h6 align="right">Hello Dear {{name}}</h6>
{% endblock %}

{#{% block login-home %}#}
{#    <form action="login" method="post">#}
{#        {% csrf_token %}#}
{#        Enter first name : <input type="text" name="1rst name">#}
{#        <br><br>#}
{#        Enter last name : <input type="text" name="2nd name">#}
{#        <br><br>#}
{#        <input type="submit">#}
{#    </form>#}
{#{% endblock %}#}
    <br>
{#{% block result %}#}
{#     <form action="add" method="get">#}
{#        number1 : <input type="text" name="num1">#}
{#         <br><br>#}
{#        number2 : <input type="text" name="num2">#}
{#         <br><br>#}
{#        <input  type="button" value="Result">#}
{#     </form>#}
{#{% endblock %}#}



