{% extends 'index.html' %}
{% block login1 %}
    <h6 align="right"> {{msg}}{{name}}</h6>
{% endblock %}
{% block login2 %}
    <form action="" method="post">
        {% csrf_token %}
        Enter first name : <input type="text" name="1rst name">
        <br><br>
        Enter last name : <input type="text" name="2nd name">
        <br><br>
        <input type="submit">
    </form>
{% endblock %}

