{% extends 'index.html' %}
{% block result %}
    <form action="add" method="post">
        number1 : <input type="text" name="num1">
        <br><br>
        number2 : <input type="text" name="num2">
        <br><br>
        <input type="button" value="Result">
    </form>
    <h6>The result is {{ result }}</h6>
{% endblock %}